.footer {
    width: 100%;
    color: #ffffff;                      
    position: relative;                                  
    border-top: 1px solid #ffffff;      
  }
  
  
  .footer h5 {
    font-size: 18px;                     
    margin: 0;                           
  }