
.col-lg-6{
    height: 90vh;
    padding: 30px;
  
   
}
.col-lg-6 h2{
    font-size: 65px;

}
.col-lg-6 h3{
    font-size: 20px;
    
}
.Viewbook{
    outline: none;
    border: 1px solid white;
    background-color: transparent;
    padding: 5px 20px 5px 20px;
    color: white;
    font-size: 20px;
}
.Viewbook:hover{
 background-color: rgb(255, 255, 255);
 color: rgb(0, 0, 0);
 box-shadow: 0 0 12px #dce1e2;
 text-decoration: none;
}